.about {
  margin: 20px 0;
  text-align: center;
}

.about-container {
    display: block;
    width: 75%;
    max-width: 800px;
    background: white;
    border-radius: 20px;
    box-shadow: -2px 2px 5px grey;
    margin: auto;

    .about-content {
      font-size: 20px;
      margin: 10px 10px 45px 10px;
      overflow: hidden;
      font-weight: 200;
      line-height: 1.5;
      font-family: arial;
    }
}



.job-title{
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 10px;
}

.date{
  display: inline-block;
  float: right;
  font-size: 16px;
  font-weight: 200;
  font-family: arial;
  position:absolute;
  bottom: 0;
  right: 10px;
  margin: 0 10px;
}

.about-description{
  position: relative;
  height: 20px;
}
