.about {
  p {
    max-width: 800px;
    width: 75%;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding-top: 20px;
    font-weight: 200;
    font-family: arial;

  }
}


