.index {
    text-align: center;
}

.me-img {
    height: 400px;
    width: 400px;
    position:relative;
    margin: auto;
    overflow:hidden;
    clip-path: circle(50% at 50% 50%);
    @include transition-ease;
    
    img {
        height: 100%;
        width: 100%;
        position: relative;
    }
    

    .mask{
        content: "";
        position: absolute;
        width: 400px;
        height: 400px;
        border-radius: 200px;
        display: flex;
        bottom: -400px;
        @include transition-ease;
        background: $menu-link-color;


        a{
            height: 100%;
            width: 100%;
            position: absolute;
            display: flex;
            align-items: center;
            text-decoration: none;

            p{
                font-size: 25px;
                color: white;
                margin: auto;
            }
        }

    }

    &:hover .mask{
        transform: translateY(-400px);
    }

}

.index-header {
    padding: 50px 0px;
    font-size: 65px;
}

.index-text {
    font-size: 40px;
    padding: 50px 0px;
}
