@import "config";
@import "menu";
@import "index";
@import "about";
@import "blog";
@import "project";
@import "contact";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-family: "Oswald", sans-serif; 
  font-size: 16px;
  height: 100%;
}

body {
  background-color: $bg-color;
  font-family: "Oswald", sans-serif; 
  font-size: 30px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100vw;
  height: 100%;
}

.content {
  position: relative;
  top: $menu-height; 
}

