<div class='my-5'>
 &nbsp;
</div>
<center class='font'> <h1 class='my-5 title'>Brenden Kadota</h1>
  <p class='description'>Hello world this is my webpage. I recently graduated from McGill univeristy
  studing honours computer science and biology with a 3.8 CGPA. </br>
  I am interested in bioinformatics, data science and video game design</p>
</center>
