
<nav class="navbar">
  <div class="navbar-button">
    <span class="navbar-toggler-icon"></span>
  </div>
  <div class="navbar-brand">
    <a class="navbar-link" href="/">Brenden Kadota</a>
  </div>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/html/about.html">About</a>
    </li>
    <div class="underline"></div>
    <li class="nav-item">
      <a class="nav-link" href="/blog/index.html">Blog</a>
    </li>
    <div class="underline"></div>
    <li class="nav-item">
      <a class="nav-link active" href="/blog/projects/index.html">Projects</a>
    </li>
    <div class="underline"></div>
    <li class="nav-item">
      <a class="nav-link" ref="/html/contact.html">Contact</a>
    </li>
    <div class="underline"></div>
  </ul>
</nav>
<div class="content">
  <div class="project-container">
    <% site.posts.forEach(function(project){ %>
    <% if(project.layout == 'project') { %>
    <%- partial('_project', {project: project})%>
    <% } %>
    <% }) %>
  </div>
</div>
